body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#main-nav {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

#featured-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#featured-property img {
  width: 100%;
  height: auto;
}


#figcaption {
  text-align: center;
}

#details div {
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

#Lorem {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}